* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f1d863;
  --text-gray: #575553;
}

body {
  color: var(--text-gray);
}
/****** Header*******/
header .navbar-color {
  background-color: var(--primary-color);
}

header .navbar-color a {
  text-decoration: none;
  color: var(--text-gray);
}
header .navbar-color h1 {
  display: inline-block;
}
@media (max-width: 576px) {
  h1 {
    font-size: 1.25rem;
  }
}

/******Main******/

#ejercicios {
  width: 80%;
  margin: 2rem auto;
  height: 100vh;
}
/*Code*/
.code-inline {
  display: inline-block;
  margin: 1rem;
}

/****** Footer*****/
.bg-color-footer {
  background-color: var(--primary-color);
}
.bg-color-footer p, .bg-color-footer p a {
  color: var(--text-gray);
  font-weight: 500;
  text-align: center;
}
